* {
    color:whitesmoke;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 95vh;
}

.img{
    float: none;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

button {background-color: black; border-width: 0px; border-radius: 12px; padding-inline: 10px; padding-top: 5px; padding-bottom: 5px;
        margin: 10px;}

input { text-align: center;}

span {padding: 2px;}

.signupbtn:hover {
    background-color: blue;
}

.signinbtn:hover {
    background-color: blue;
}

input:focus {
    box-shadow: 5px 5px #63d471;
}

.form{
    display: grid;
    margin: 10px;
}

input[type="date"]{
    color: rgba(0, 0, 0, 0.555);
}
